body {
    background-color: rgba(47, 79, 174, 0.593);
}

p {
    margin: 0;
}

.message {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    margin: 0 20px;
}

.message__content {
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.593);
    width: 30vw;
    margin-bottom: 70px;
}

.message__content span {
    font-size: 1.5em;
}

textarea { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 200px;
}
